.buttonReturn {
  background-image: '\image404.jpeg';
}
.Page404 {
  background-image: url('\image404.jpeg');
}
.center-both {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(0, 0, 0);
  height: 150px;
  background-color: #301934;
}
.textCont {
  display: flex;
  position: absolute;
  top: 10%;
  left: 26%;
  margin: 0 auto;
  display: block;
  line-height: 50px;
  height: 50px;
  width: 24%;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  text-shadow:
    0 100px 0 #0b0b0b,
    1px 76px 10px #000;
  color: #010501;
  background: #5d8ec7;
  border-right: 2px solid #e51515;
  border-left: 2px solid #ea2626;
  --webkit-transition: all 0.3s ease-in-out;
}
.textoverlay {
  position: absolute;
  top: 40%;
  left: 10%;
  color: rgb(1, 0, 0);
  font-size: 164px;
  font-weight: bold;
}
.textoverlay3 {
  position: absolute;
  top: 11%;
  left: 17%;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: bold;
}
.textoverlay2 {
  position: absolute;
  top: 25%;
  left: 10%;
  color: rgb(0, 0, 0);
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 5px;
}
